#faq {
    color: black;
    text-decoration-line: underline;
    display: inline-block;
}

#faq:hover {
    color:blue;
    text-decoration: none;
}

.form-line {
    display: table !important;
}

.form-line {
    display: flex;
}
.field {
    display: inline;
}

textarea {
    font-size: 13px;
}

#header h1{
    font-size: 4 em;
    font-weight: 500;
}



form {
    font-size: 25px;
    font-family: 'poppins';
    text-align: left;
    font-weight: 500;
    background-color: #b9b7b7;
    display: inline;
}

form label{
    display: block;
}

