#faq {
    color: black;
    text-decoration-line: underline;
    display: inline-block;
}

#faq:hover {
    color:blue;
    text-decoration: none;
}

div.header h1{
    grid-area: 1 / 1 / span 1 / span 3;
    font-size: 4 em;
    font-weight: 300;
}

.fname {
    grid-area: 2 / 1 / span 1 / span 1;
     
}

.lname {

}

.email {

}

.inquiry {

}

.message {

}

.form-line {
    display: table !important;
}

.form-line {
    display: flex;
}
.field {
    display: inline;
}

textarea {
    font-size: 13px;
}

form {
    font-size: 25px;
    font-family: 'poppins';
    text-align: left;
    font-weight: 500;
    background-color: #b9b7b7;
    display: inline;
}

form label{
    display: block;
}

main {
    display: grid;
    grid-template: repeat(5, 20%)/ repeat(3, 1fr);
    border: 3px solid #b9b7b7;
}

