@tailwind base;
@tailwind components;
@tailwind utilities;

/**/

:root {
  --sr-container-width: 17.4375rem;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

/* NAVIGATION MENU */
/* Top Nav*/
.mobile-nav {
  display: none;
  position: sticky;
}
.desktop-nav {
  display: flex;
  flex-direction: column;
  width: 100%;    
  /* margin-bottom: 20px; */
  top: 0;
  background-color: #FFFFFF;
  position: sticky;
  z-index: 30;
}
.top-nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}
.top-nav-header {
  display: flex;
  align-items: center;
}
/**Each logo needs to be resized*/
.nav-logo {
  display: flex;
  height: 4vh;
  width: auto;
  padding: 12px 10px;
}
.nav-logo-wrapper {
  display: flex;
  margin: 0px 5px 0px 15px;
}
.nav-logo-mobile, .nav-logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.48));
}

.nav-vertical-line {
  border-left: 1px solid #D9D9D9;
  color: #D9D9D9;
  height: 2.5rem;
}
.nav-header-title {
  display: flex;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 400;
}
.search {
  height: 25px;
  width: 300px;
  margin-right: 25px;
  border-radius: 5px;
  background-color: #EDEDED;
  padding: 6px;
  border: none;
}
.search::placeholder {
  font-weight: 600;
  color: #5e5e5e;
}

/* Responsive Top Nav */





/* Bottom Nav */
.bottom-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #BB002F 0%, #9D1739 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  z-index: 30;
}
.nav-page-list, li {
  display: flex;
  font-size: 16px;
  justify-content: center;
  place-items: center;
  flex-wrap: wrap;
  margin: 4px 20px;
  list-style-type: none;
  text-decoration: none;  
  color: #FFFFFF;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav ul li Link:hover {
  background-color: #9a2542;
  transition: .5s;
}

nav ul li Link {
  padding: 0px 15px;
  border-radius: 3px;
} 

footer {
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  background-color: #646464;
  color: #FFFFFF;
}

/* MISC */
button {
  /* Centers the content of buttons */
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 4rem 1rem;
} 
.section-header hr {
  display: flex;
  height: .25rem;
  border: none;
  max-width: 65vw;
  background-color: #D9D9D9;
  width: 100%;
  margin: 0;
  border: none;
}

.section-subheader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 4rem 0rem;
}
.section-subheader hr {
  display: flex;
  height: .2rem;
  border: none;
  max-width: 35vw;
  background-color: #D9D9D9;
  width: 100%;
  margin: 0;
  border: none;
}

/*About Us*/

.about-us-page-title {
  font-size: 2.5rem;
  width: 45vw;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.about-us-page-subtitle  {
  font-size: 2.25rem;
  width: 45vw;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  color: #3e3e3e;
}
.subsection-paragraph {
  font-size: 1.15rem;
  padding: 0px 5%;
}

/* HERO SECTION */
.hero-picture-wrapper{
  position: relative;
  max-height: 128rem; /* adjust the max-height as desired */
  overflow: hidden; /* crop the image to fit the wrapper */
}
.hero-picture {
  top: 0px; /* this needs to be fixed to move the background up within the wrapper */
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width:100%;
}




/* ABOUT US SECTION */

/* STAFF SECTION */
a.inline-link{
  color: red;
  text-decoration-line: underline;
}
.staff-container{
  display: flex;
  flex-wrap: wrap;

}

.staff-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  padding: 15px;
  /* try to make the cards smaller*/
  max-height: 28rem;
  width: auto;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.staff-card img{
  height: 80%;
}

.staff-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  object-fit: contain;
  padding: 2px;
}

.staff-content {
  height: 50%;
}

.staff-content, .staff-name, .-contact  {
  font-size: 13px;
  text-align: center;
  margin: 0;
  padding: 1px;
}
.staff-card-wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
  margin: 0px 100px 30px;
}



.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-right: 15px;
  margin-left: 15px;
  column-gap: 1.5rem;
}

.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}
.zoom {
  transition: transform .2s;
}
.h-100 {
  height: 100%!important;
}
.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.border-0 {
  border: 0!important;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.col-md-4 .colmb-5{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.future-events-link{
  color: red;
}
.future-events-text{
  size: 15px;
}


/* HOME */

/* HERO */
.landing-hero-container {
  position: relative;
  margin-bottom: 3rem;
}
.hero-picture-wrapper{
  max-height: 80vh;
  overflow: hidden;
}
.hero-picture {
  width:100%;
  height: auto;
}

.hero-cta-block {
  transform: translateY(-90%);
}

@media screen and (max-width: 768px) {
  .cta-button {
      width: 40rem;
      height: 40px;
      font-size: 10px;
  }
}

@media (max-width: 768px) {
  .hero-cta-block {
          width: 50%;
  }
}

@media (max-width: 480px) {
  .hero-cta-block {
      width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .cta-headline {
      font-size: 14px;
      margin-right: 0;
  }
  .cta-button {
      width: 30%;
      height: 40px;
      font-size: 10px;
  }
}


/* ALLIANCE */
.lsamp-alliance-header {
  font-size: 2.5rem;
  width: 45vw;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

/* Section header for smaller screens */
@media (max-width: 768px) { 
  .section-header {
      margin: 1rem 1rem 0.5rem; 
  }
  
  .section-header hr {
      margin: 0.5rem 0 0;
      max-width: 95vw;

  }
  .lsamp-alliance-header {
      font-size: 1.5rem;
      width: 100%;
  }
}

@media (max-width: 600px) {
  .hero-cta-block {
      width: 100vw;
  }

}

/*FORM*/

.form-label {
  @apply block text-sm font-medium mb-2;
}

.form-input {
  @apply w-5/6 sm:w-[350px] rounded-lg p-3;
}

.form-div {
  @apply mb-4;
}

/* Student Resources */
.sr-container {
  display: none; /* Initially hide the containers */
  width: calc(33.33% - 20px); /* 20px for margin */
  margin: 10px;
  float: left;
  box-sizing: border-box;

}

.sr-row::after {
  content: "";
  clear: both;
  display: table;
}

.sr-button {
  display: grid;
  place-items: center;
  padding: 10px;
  text-decoration: none;
  color:#FFFFFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;    
  width: var(--sr-container-width);
  height: 4.8125rem;
  white-space: normal;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  background: #9D1739;
}

.description-container {
  padding: 1rem;
  background-color: #f1f1f1;
  width: var(--sr-container-width);
  height: calc(28.375rem - 3.125rem);
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.link-button {
  height: 3.125rem;
  width: var(--sr-container-width);
  background: #d3d3d3;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 0.825rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}

/*Membership*/

.majors {
  @apply hover:underline;
}