/* MISC */
.about-us-page-title {
    font-size: 3rem;
    width: 45vw;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.about-us-page-subtitle  {
    font-size: 2.4rem;
    width: 45vw;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}

/* HERO SECTION */
.hero-picture-wrapper{
    position: relative;
    max-height: 30vh; /* adjust the max-height as desired */
    overflow: hidden; /* crop the image to fit the wrapper */
}
.hero-picture {
    top: 0px; /* this needs to be fixed to move the background up within the wrapper */
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width:100%;
}

/* ABOUT US SECTION */
.main-message{
    padding: 0px 20px;
}

a.inline-link{
    color: red;
}
.staff-container{
    display: flex;
    flex-wrap: wrap;

}

.staff-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    padding: 15px;
    /* try to make the cards smaller*/
    max-height: 18rem;
    width: auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.staff-card img{
    height: 80%;
}

.staff-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    object-fit: contain;
    padding: 2px;
}

.staff-content {
    height: 50%;
}

.staff-content, .staff-name, .-contact  {
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 1px;
}
.staff-images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    margin: 0px 100px 30px;
}



.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-right: 15px;
    margin-left: 15px;
    column-gap: 1.5rem;
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.zoom {
    transition: transform .2s;
}
.h-100 {
    height: 100%!important;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.border-0 {
    border: 0!important;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.col-md-4 .colmb-5{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.future-events-link{
    color: red;
}
.future-events-text{
    size: 15px;
}