/* HERO */
.landing-hero {
    position: relative;
}
.hero-picture-wrapper{
    max-height: 80vh;
    overflow: hidden;
}
.hero-picture {
    width:100%;
    height: auto;
}

.hero-cta-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    max-width: 45%;
    width:30%;
    background: radial-gradient(50% 50% at 50% 50%, #CC0033 0%, #9D1739 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px 20px;
    top: 50%; /* Position the top of the CTA block to the middle of the hero picture */
    right: 3%; /* Position the right of the CTA block 3% from the right of the view */
}

.cta-headline {
    display: flex;
    font-size: 19px;
    font-weight: 700;
    text-align: left;
    margin-right: 10%;
    color: white;
    margin-bottom: 0;
}

.cta-button-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}
.cta-button {
    width: 35%;
    height:50px;
    text-transform: uppercase;
}

#cta-learn-more-button {
    background: #9D1739;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
#cta-learn-more-button:hover {
    background: #b41a41;
    transition: .5s;
}
.cta-learn-more-anchor {
    color: white;
    font-weight: 800;
    text-decoration: none;

}
#cta-join-now-button {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#cta-join-now-button:hover {
    background: #ededed;
    transition: .5s;
}
.cta-join-now-anchor {
    color: black;
    font-weight: 800;
    text-decoration: none;
}

@media (max-width: 768px) {
    .hero-cta-block {
            width: 50%;
    }
}
  
@media (max-width: 480px) {
    .hero-cta-block {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .cta-headline {
        font-size: 14px;
        margin-right: 0;
    }
    .cta-button {
        width: 30%;
        height: 40px;
        font-size: 10px;
    }
}
/* ABOUT */
.landing-about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 20px 30px;

}
.landing-about-logo {
    max-width: 250px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.landing-about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 575px;
    padding: 10px 15px;
    margin-left: 40px;
    border-radius: 20px; 
    background-color: #F9F9F9;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
.landing-about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.15em;
}
.landing-about-title {
    display: flex;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1px 0px;
    padding: 5px 5px 1px;
}
.landing-about-body {
    padding: 1px 5px 0px;
}

.landing-about-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.landing-about-button {
    font-size: 12px;
    max-width: 125px;
    max-height: 50px;
    background: #fcfcfc; 
    border: 4px solid #D7D7D7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    margin: 0px 5px 5px;
}

#landing-about-button-pending{
    background: #e6e6e6; 
    border: 4px solid #e6e6e6;
}

.landing-about-anchor-button {
    font-size: 15px;
    color:black;
    font-weight: 600;
    text-decoration: underline;
    padding: 3px;
}

.landing-about-anchor-body {
    color: black;
    box-shadow: none;
}
.landing-about-anchor-body:hover {
    background-color: #cbcbcb;
    transition: .2s;
    border-radius: 3px;
}

/* VIDEO */
.landing-video {
    display: flex;
    justify-content: center;
    margin: 6.25rem 1.875rem
}
.landing-video iframe {
    width: 65%;
    height: 31rem;
}

@media (max-width: 768px) {
    .landing-video {
        flex-direction: column;
        align-items: center;
        margin: 3.25rem 0.5rem;
    }
  
    .landing-video iframe {
        width: 100%;
        height: 100%;
    }
  }

/* ALLIANCE */
.lsamp-alliance-header {
    font-size: 3rem;
    width: 45vw;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.alliance-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    margin: 0 3rem 2rem;
}

.alliance-card {
    display: flex;
    flex: 1 0 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    /* try to make the cards smaller*/
    max-height: 14rem;
    width: 14rem;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.alliance-card:hover {
    background-color: #e7e7e7;
    cursor: copy;
    transition: .5s;
}

.alliance-university-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    object-fit: contain;
    padding: 0.2rem;
}

.alliance-university-content {
    height: 50%;
}

.alliance-university-content, .alliance-university-name, .alliance-university-contact  {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    padding: 0.1rem;
    overflow: hidden; /* Add overflow property to contain the text */
    text-overflow: ellipsis; /* Add ellipsis for long text */
    white-space: nowrap; /* Prevent text from wrapping */
}


/* MISC */
.section-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 4rem 1rem;
} 
.section-header hr {
    display: flex;
    height: 4px;
    border: none;
    max-width: 65vw;
    background-color: #D9D9D9;
    width: 100%;
    margin: 0;
    border: none;
}
@media (max-width: 768px) {
    .section-header {
        margin: 1rem 1rem 0.5rem; /* Adjust margin values for smaller screens */
    }
    
    .section-header hr {
        height: 1px; /* Adjust height for smaller screens */
        margin: 0.5rem 0 0; /* Adjust margin values for smaller screens */
    }
}