body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* NAVIGATION MENU */
/* Top Nav*/
nav {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #FFFFFF;
}
.top-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-nav-header {
    display: flex;
}
.nav-header-title {
    display: flex;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
}
/* This needs to be centered */
.nav-logo {
    height: 35px;
}

.search {
    height: 25px;
    width: 300px;
    
    margin-right: 25px;
    border-radius: 5px;
    background-color: #EDEDED;
}
.search::placeholder {
    font-weight: 500;
}

/* Bottom Nav */
.bottom-nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, #BB002F 0%, #9D1739 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.page-nav-list, a {
    display: flex;
    margin: 5px 60px;
    list-style-type: none;
    text-decoration: none;  
    color: #FFFFFF;
    font-weight: 500;
}
.page-nav-list   a:hover {
    background-color: #9a2542;
}


/* FOOTER */
footer {
    /* something is wrong where it doesn't stay at the bottom*/
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    background-color: #646464;
    color: #FFFFFF;
}
