nav {
    display: block;
    padding: 5px 10px;
    background-color: #FFFFFF;
}

.top-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-nav-header {
    display: flex;
}
.nav-lsamp-header {
    display: flex;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 300;

}
